<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <title><%= name %></title>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="/js/darkmode.js"></script>
    <link rel="stylesheet" href="/css/darkmode.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="nav-main">
      <div class="theme">
        <label class="switch">
          <input
            id="darkmodeBtn"
            type="checkbox"
            onchange="changeTheme()"
            checked
          />
          <span class="slider round"></span>
        </label>
        <div class="moon-sun">
          <iconify-icon id="icon-theme-moon" icon="bxs:moon"></iconify-icon>
          <iconify-icon
            id="icon-theme-sun"
            icon="akar-icons:sun"
          ></iconify-icon>
        </div>
      </div>
    </nav>
    <main>
      <h1>Url Shrinker</h1>

      <form action="/shortUrls" method="POST" id="form-url-short">
        <div id="input-box">
          <label for="fullUrl">URL</label>
          <input type="url" name="fullUrl" id="fullUrl" />
        </div>
        <button type="submit">Short</button>
      </form>

      <table id="main-table-links">
        <thead>
          <tr>
            <th>Full URL</th>
            <th>Short URl</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% if (shortUrls.length > 0) { %> <% shortUrls.forEach(shortUrl => {
          %>

          <tr align="center">
            <td>
              <a href="<%= shortUrl.full %>" target="_blank"
                ><%= shortUrl.full %></a
              >
            </td>
            <td>
              <a href="<%= shortUrl.short %>" target="_blank"
                >/<%= shortUrl.short %></a>
            </td>
            <td><%= shortUrl.clicks %></td>
          </tr>

          <%})%> <%} else { %>
          <p id="not-registered-message">No url registered</p>
          <% } %>
        </tbody>
      </table>
    </main>

    <script>
      setMode(storedTheme);
    </script>
  </body>
</html>
